<h2>Programming Books List!</h2>

<button (click)="this.isShowing = !this.isShowing;">
    <!-- <span *ngIf="isShowing">Hide Books</span>
    <span *ngIf="!isShowing">Show Books</span> -->
    <!-- If you dont want the span tags you can use the ngContainer -->
    <ng-container *ngIf="isShowing">Hide Books</ng-container>
    <ng-container *ngIf="!isShowing">Show Books</ng-container>
</button>
<!-- <input type="text" [(ngModel)]="myName"/> -->
<!-- <div>{{myName}}</div> -->

<ul *ngIf="isShowing">
    <ng-container *ngFor="let book of books, let i=index">
        <li>
            {{ i + 1 }}
            <img [src]="book.image" [alt]="book.name" width="100px" />
            {{ book.name }} by {{ book.author }}
        </li>
    </ng-container>
    
    <!-- <li>
        <img [src]="src2" [alt]="name2" width="100px" />
        {{ name2 }} by {{ author2 }}
    </li> -->
</ul>

